[Desktop Entry]
Name=ScreenNormal
GenericName=RotateScreen
Comment=rotato screen
Exec=bash -c '"$(dirname "$1")"/screen_normal.sh' dummy %k
Terminal=false
Type=Application
Icon=/home/rcwind/demo-doc/screen/normal.png

